@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url(../font/NotoSans/NotoSans-Thin.eot);
    src: url(../font/NotoSans/NotoSans-Thin.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Thin.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Thin.woff) format("woff"), url(../font/NotoSans/NotoSans-Thin.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NotoSans/NotoSans-Light.eot);
    src: url(../font/NotoSans/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Light.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Light.woff) format("woff"), url(../font/NotoSans/NotoSans-Light.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../font/NotoSans/NotoSans-DemiLight.eot);
    src: url(../font/NotoSans/NotoSans-DemiLight.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-DemiLight.woff2) format("woff2"), url(../font/NotoSans/NotoSans-DemiLight.woff) format("woff"), url(../font/NotoSans/NotoSans-DemiLight.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NotoSans/NotoSans-Regular.eot);
    src: url(../font/NotoSans/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Regular.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Regular.woff) format("woff"), url(../font/NotoSans/NotoSans-Regular.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../font/NotoSans/NotoSans-Medium.eot);
    src: url(../font/NotoSans/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Medium.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Medium.woff) format("woff"), url(../font/NotoSans/NotoSans-Medium.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/NotoSans/NotoSans-Bold.eot);
    src: url(../font/NotoSans/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Bold.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Bold.woff) format("woff"), url(../font/NotoSans/NotoSans-Bold.ttf) format("truetype")
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../font/NotoSans/NotoSans-Black.eot);
    src: url(../font/NotoSans/NotoSans-Black.eot?#iefix) format("embedded-opentype"), url(../font/NotoSans/NotoSans-Black.woff2) format("woff2"), url(../font/NotoSans/NotoSans-Black.woff) format("woff"), url(../font/NotoSans/NotoSans-Black.ttf) format("truetype")
}

.blind {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.blind.focusable:active, .blind.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 16px
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

button, input {
    margin: 0;
    padding: 0;
    color: #111
}

.svg {
    display: block
}

hr {
    display: none
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle
}

a:active, a:hover {
    outline: 0;
    color: inherit
}

div.uploader input {
    padding-right: 145px
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    border-width: 1px
}

.btn:before, .btn:after {
    content: "";
    display: table
}

.btn:after {
    clear: both
}

.btn[disabled] {
    pointer-events: none;
    cursor: not-allowed
}

.btn[readonly] {
    pointer-events: none;
    cursor: not-allowed
}

.btn.xsmall {
    padding: 0 10px;
    height: 20px;
    line-height: 18px;
    font-size: 11px;
    font-weight: normal;
    border-radius: 0px
}

.btn.small {
    padding: 0 10px;
    height: 25px;
    line-height: 23px;
    font-size: 12px;
    font-weight: normal;
    border-radius: 0px
}

.btn.medium {
    padding: 0 12px;
    height: 100px;
    line-height: 98px;
    font-size: 45px;
    font-weight: 500;
    border-radius: 0px
}

.btn.large {
    padding: 0 20px;
    height: 127px;
    line-height: 125px;
    font-size: 58px;
    font-weight: 500;
    border-radius: 0px
}

.btn.xlarge {
    padding: 0 20px;
    height: 66px;
    line-height: 64px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0px
}

.btn.basic {
    color: #fff;
    border-style: solid;
    border-color: #b2b2b2;
    background-color: #b2b2b2
}

.btn.slightly {
    color: #fff;
    border-style: solid;
    border-color: #3d3de2;
    background-color: #3d3de2
}

.btn.normal {
    color: #000;
    border-style: solid;
    border-color: #000;
    background-color: #fff
}

.btn.weighty {
    color: #fff;
    border-style: solid;
    border-color: #1b1b1b;
    background-color: #1b1b1b
}

.btn.weightiest {
    color: #fff;
    border-style: solid;
    border-color: #f02020;
    background-color: #f02020
}

.btn.disable {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn.readonly {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.button-box {
    font-size: 0;
    margin: 0 -3px
}

.button-box:before, .button-box:after {
    content: "";
    display: table
}

.button-box:after {
    clear: both
}

.button-box.btn-center {
    text-align: center
}

.button-box.btn-right {
    text-align: right
}

.button-box .btn-area {
    display: inline-block;
    padding: 0 3px
}

.button-box .btn-area.left {
    float: left
}

.button-box .btn-area.right {
    float: right
}

.button-box.block .btn-area {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box
}

.button-box.block .btn-area .btn {
    display: block;
    width: 100%
}

.button-box.block.col-2 .btn-area {
    width: 50%
}

.button-box.block.col-3 .btn-area {
    width: 33.333333%
}

.button-box.block.col-4 .btn-area {
    width: 25%
}

input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"], textarea.textarea, select.select {
    font-size: 30px;
    color: #000
}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, textarea.textarea::-webkit-input-placeholder, select.select::-webkit-input-placeholder {
    color: #000;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    opacity: 0.4
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="search"]::-moz-placeholder, textarea.textarea::-moz-placeholder, select.select::-moz-placeholder {
    color: #000;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    opacity: 0.4
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="search"]:-moz-placeholder, textarea.textarea:-moz-placeholder, select.select:-moz-placeholder {
    color: #000;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    opacity: 0.4
}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, textarea.textarea:-ms-input-placeholder, select.select:-ms-input-placeholder {
    color: #000;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    opacity: 0.4
}

input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="search"] {
    -webkit-appearance: none;
    padding: 0 10px;
    height: 66px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebebec;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0px
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="search"]:focus {
    border-color: #111
}

input[type="text"][disabled], input[type="password"][disabled], input[type="number"][disabled], input[type="tel"][disabled], input[type="email"][disabled], input[type="search"][disabled] {
    border-color: #ccc;
    background-color: #f7f7f7
}

input[type="text"][readonly], input[type="password"][readonly], input[type="number"][readonly], input[type="tel"][readonly], input[type="email"][readonly], input[type="search"][readonly] {
    border-color: #ccc;
    background-color: #f7f7f7
}

textarea.textarea {
    font: 1rem;
    resize: none;
    -webkit-appearance: none;
    padding: 10px 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebebec;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 0px
}

select.select {
    height: 66px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebebec
}

.mk-select {
    position: relative;
    display: inline-block;
    min-width: 110px;
    height: 66px;
    line-height: 66px;
    border-width: 3px;
    border-style: solid;
    border-color: #ebebec;
    border-radius: 0px;
    text-transform: uppercase;
    background: #fff;
    box-sizing: border-box
}

.mk-select .select {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #fff;
    /* -ms-filter: alpha(opacity=0); */
    /* filter: alpha(opacity=0); */
    /* opacity: 0 */
}

.mk-select .select:focus+label {
    outline: 1px dotted #000;
    outline: auto
}

.mk-select label {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #000;
    padding: 0 10px;
    padding-right: 50px;
    background: #fff;
    display: block;
    border-radius: 4px
}

.mk-select label:after {
    position: absolute;
    top: -1px;
    right: 0;
    content: '▼';
    width: 40px;
    height: 66px;
    font-size: .76em;
    color: #fff;
    text-align: center;
    background: #000
}

.mk-select.block {
    display: block
}

.mk-fromput {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px
}

.mk-fromput:first-child {
    margin-left: 0
}

.mk-fromput input[type=radio], .mk-fromput input[type=checkbox] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9.5px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0
}

.mk-fromput input[type=radio]+label, .mk-fromput input[type=checkbox]+label {
    display: inline-block;
    cursor: pointer;
    position: relative
}

.mk-fromput input[type=radio]+label:before, .mk-fromput input[type=checkbox]+label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url("../images/ev/form-type-img.png");
    background-repeat: no-repeat
}

.mk-fromput input[type=radio]:focus+label:before, .mk-fromput input[type=checkbox]:focus+label:before {
    outline: 1px dotted #000;
    outline: auto
}

.mk-fromput input[type=radio]+label {
    padding-left: 56px
}

.mk-fromput input[type=radio]+label:before {
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-position: 0 -143px
}

.mk-fromput input[type=radio]:checked+label:before {
    background-position: -50px -143px
}

.mk-fromput input[type=radio][disabled]+label {
    cursor: auto
}

.mk-fromput input[type=radio][disabled]+label:before {
    background-position: -38px -89px
}

.mk-fromput input[type=radio][readonly]+label {
    cursor: auto
}

.mk-fromput input[type=radio][readonly]+label:before {
    background-position: -38px -89px
}

.mk-fromput input[type=checkbox]+label {
    padding-left: 30px
}

.mk-fromput input[type=checkbox]+label:before {
    margin-top: -12px;
    width: 24px;
    height: 24px;
    background-position: 0 -247px
}

.mk-fromput input[type=checkbox]:checked+label:before {
    background-position: -24px -247px
}

.mk-fromput input[type=checkbox][disabled]+label {
    cursor: auto
}

.mk-fromput input[type=checkbox][disabled]+label:before {
    background-position: -38px 0
}

.mk-fromput input[type=checkbox][readonly]+label {
    cursor: auto
}

.mk-fromput input[type=checkbox][readonly]+label:before {
    background-position: -38px 0
}

.mk-fromput.big input[type=checkbox] {
    width: 39px;
    height: 39px
}

.mk-fromput.big input[type=checkbox]+label {
    font-size: 41px;
    font-weight: 600;
    color: #3d435d;
    padding-left: 50px
}

.mk-fromput.big input[type=checkbox]+label:before {
    margin-top: -16px;
    width: 39px;
    height: 39px;
    background-position: 0 -200px;
    vertical-align: middle
}

.mk-fromput.big input[type=checkbox]:checked+label:before {
    background-position: -39px -200px
}

.mk-fromput.red-check input[type=checkbox] {
    width: 34px;
    height: 34px
}

.mk-fromput.red-check input[type=checkbox]+label {
    font-size: 41px;
    font-weight: 600;
    color: #3d435d;
    padding-left: 50px
}

.mk-fromput.red-check input[type=checkbox]+label:before {
    margin-top: -16px;
    width: 34px;
    height: 34px;
    background-position: 0 -278px;
    vertical-align: middle
}

.mk-fromput.red-check input[type=checkbox]:checked+label:before {
    background-position: -34px -278px
}

.mk-fromfile {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 200px;
    height: 35px
}

.mk-fromfile input[type=file] {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -ms-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0
}

.mk-fromfile input[type=file]:focus+label.btn {
    outline: 1px dotted #000;
    outline: auto
}

.mk-fromfile input[type=file][disabled]+label.btn {
    cursor: auto;
    pointer-events: none;
    -ms-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    opacity: 0.5
}

.mk-fromfile input[type=file][readonly]+label.btn {
    cursor: auto;
    pointer-events: none;
    -ms-filter: alpha(opacity=50);
    filter: alpha(opacity=50);
    opacity: 0.5
}

.mk-fromfile label.btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 100%;
    line-height: 33px
}

.form-box {
    font-size: 0;
    margin: 0 -3px
}

.form-box:before, .form-box:after {
    content: "";
    display: table
}

.form-box:after {
    clear: both
}

.form-box .formcon-area {
    display: inline-block;
    padding: 0 3px
}

.form-box .formcon-area.left {
    float: left
}

.form-box .formcon-area.right {
    float: right
}

.form-box.block .formcon-area {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box
}

.form-box.block .formcon-area input, .form-box.block .formcon-area textarea {
    width: 100%
}

.form-box.block.col-2 .formcon-area {
    width: 50%
}

.form-box.block.col-3 .formcon-area {
    width: 33.333333%
}

.form-box.block.col-4 .formcon-area {
    width: 25%
}

.form-box.tel {
    margin: 0 -10px
}

.form-box.tel .formcon-area {
    position: relative;
    width: 33.3333%;
    padding: 0 10px
}

.form-box.tel .formcon-area:before {
    content: "-";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    margin-left: -5px;
    width: 10px;
    height: 3px;
    background-color: #ebebec
}

.form-box.tel .formcon-area:first-child:before {
    display: none
}

.form-box.tel.type-02 .formcon-area {
    width: 50%
}

.form-box.address {
    margin: 0
}

.form-box.address ul li {
    margin-bottom: 5px
}

.form-box.address ul li:before, .form-box.address ul li:after {
    content: "";
    display: table
}

.form-box.address ul li:after {
    clear: both
}

.form-box.address ul li:last-child {
    margin-bottom: 0
}

.form-box.address .formcon-area {
    padding: 0
}

.form-box.address .postal-code-box {
    position: relative
}

.form-box.address .postal-code-box .formcon-area {
    position: relative;
    padding: 0;
    padding-right: 110px;
    float: none
}

.form-box.address .postal-code-box .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 66px;
    line-height: 64px
}

.form-box.file {
    position: relative;
    margin: 0
}

.form-box.file .formcon-area {
    position: relative;
    padding: 0;
    padding-right: 110px
}

.form-box.file .mk-fromfile {
    position: absolute;
    top: 0;
    right: 0
}

.checking-form-list.vertical li {
    margin-bottom: 5px
}

.checking-form-list.vertical li:last-child {
    margin-bottom: 0
}

.checking-form-list.horizontal:before, .checking-form-list.horizontal:after {
    content: "";
    display: table
}

.checking-form-list.horizontal:after {
    clear: both
}

.checking-form-list.horizontal li {
    float: left;
    margin-right: 20px
}

.checking-form-list.horizontal li:last-child {
    margin-right: 0
}

.shadowbox {
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    padding: 15px 20px;
    -moz-box-shadow: 0px 1px 5px #000000;
    -webkit-box-shadow: 0px 1px 5px #000000;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2)
}

html {
    font-size: 16px
}

@media (min-width: 0px) and (max-width: 1139px) {
    html {
        font-size: 16px
    }
}

html, html a {
    -webkit-font-smoothing: antialiased
}

body {
    color: #000;
    font-family: "Noto Sans", "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, Arial, sans-serif;
    line-height: 1.3875;
    background: transparent;
    -webkit-text-size-adjust: none
}

* {
    -webkit-text-size-adjust: none
}

html, body, .landing-wrap, .landing-in-box {
    height: 100%
}

.landing-wrap {
    text-align: center
}

.landing-wrap .ld-table-wrap {
    width: 100%;
    height: 100%;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.landing-wrap .ld-table-wrap.bg-main {
    background-image: url("../images/ev/landing/img_main.jpg")
}
.landing-wrap .bg-question {
    position: absolute;
    top: 0;
    left: 0;
}

.landing-wrap .ld-table-wrap.bg-question.bg-que-01 {
    background-image: url("../images/ev/landing/bg_qna_01.jpg");
    z-index:50
}

.landing-wrap .ld-table-wrap.bg-question.bg-que-02 {
    background-image: url("../images/ev/landing/bg_qna_02.jpg");
    z-index:40
}

.landing-wrap .ld-table-wrap.bg-question.bg-que-03 {
    background-image: url("../images/ev/landing/bg_qna_03.jpg");
    z-index:30
}

.landing-wrap .ld-table-wrap.bg-question.bg-que-04 {
    background-image: url("../images/ev/landing/bg_qna_04.jpg");
    z-index:20
}

.landing-wrap .ld-table-wrap.bg-question.bg-que-05 {
    background-image: url("../images/ev/landing/bg_qna_05.jpg");
    z-index:10
}

.landing-wrap .ld-table-wrap.bg-checkboxzone {
    background-color: #f1f1f1
}

.landing-wrap .ld-table-wrap.bg-myinfor {
    background-color: #f1f1f1
}

.landing-wrap .ld-table-wrap.bg-assessment {
    background-color: #271313
}

.landing-wrap .ld-table-wrap.bg-assessment.success {
    background: #271313 url("../images/ev/landing/bg_fire.jpg") center no-repeat
}

.landing-wrap .ld-table-wrap .ld-table-cell-wrap {
    display: table-cell;
    vertical-align: middle
}

.ld-pg-contents {
    display: inline-block;
    box-sizing: border-box
}

.ld-pg-contents.wd-570 {
    width: 570px
}

.ld-pg-contents.wd-642 {
    width: 642px
}

.ld-pg-contents.wd-682 {
    width: 682px
}

.ld-pg-contents .small-gu-txt {
    margin-top: 12px;
    font-size: 18px;
    color: #090909;
    text-align: center
}

#__bs_notify__ {
    padding: 4px 8px !important;
    font-size: 11px !important;
    background-color: rgba(27, 32, 50, 0.4) !important
}

.layer-alert-wrap {
    z-index: 1000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.layer-alert-wrap .ly-alert-table {
    width: 570px;
    height: 100%;
    display: table;
    margin: 0 auto
}

.layer-alert-wrap .ly-alert-table .ly-alert-cell {
    width: 570px;
    display: table-cell;
    vertical-align: middle
}

.layer-alert-wrap .ly-white-box {
    background-color: #fff;
    min-height: 801px;
    text-align: center;
    box-sizing: border-box;
    padding: 125px 73px 94px
}

.layer-alert-wrap .exclamation-mark {
    margin-bottom: 41px;
    display: inline-block;
    width: 213px;
    height: 213px;
    background: url("../images/ev/landing/img_notice_02.jpg") 0 0 no-repeat
}

.layer-alert-wrap .red-txt {
    display: block;
    font-size: 42px;
    font-weight: 500;
    color: #ff0707;
    letter-spacing: -1px;
    font-weight: 600
}

.layer-alert-wrap .red-txt em {
    font-size: 71px;
    font-weight: 700;
    font-style: normal
}

.layer-alert-wrap .lay-normal-txt {
    margin-top: 45px;
    font-size: 23px;
    font-weight: 500;
    color: #000;
    line-height: 1.3;
    letter-spacing: -1px
}

.layer-alert-wrap .button-box {
    margin-top: 90px
}

.layer-alert-wrap.error .exclamation-mark {
    margin-bottom: 20px
}

.layer-alert-wrap.error .lay-normal-txt {
    margin-top: 20px
}

.ld-pg-contents.main h1 {
    font-size: 128px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2
}

.ld-pg-contents.main h1 span {
    font-weight: 200
}

.ld-pg-contents.main .gui-txt {
    color: #fff
}

.ld-pg-contents.main .gui-txt.big {
    margin-top: 30px;
    font-size: 41px;
    font-weight: 500
}

.ld-pg-contents.main .gui-txt.small {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 300
}

.ld-pg-contents.main .btn {
    font-size: 58px;
    font-weight: 500;
    letter-spacing: -2px;
    height: 127px;
    line-height: 125px;
    margin-top: 80px
}

.ld-pg-contents.question {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 140px 48px 105px;
    text-align: left
}

.ld-pg-contents.question .que-title-box {
    position: relative;
    height: 100px
}

.ld-pg-contents.question .que-title-box strong {
    font-size: 81px;
    font-weight: 400;
    color: #f02020;
    line-height: 1
}

.ld-pg-contents.question .que-title-box p {
    position: absolute;
    top: 4px;
    left: 0;
    padding-left: 155px;
    font-size: 38px;
    font-weight: 600;
    color: #090909;
    line-height: 1.3;
    letter-spacing: -1px
}

.ld-pg-contents.question .que-title-box p .red-txt {
    font-style: normal;
    color: #f02020
}

.ld-pg-contents.question .que-choice-box {
    display: table;
    width: 100%;
    height: 280px
}

.ld-pg-contents.question .que-choice-box .checking-form-list {
    vertical-align: middle;
    display: table-cell;
    text-align: center
}

.ld-pg-contents.question .que-choice-box .checking-form-list li {
    float: none;
    display: inline-block;
    margin: 0 55px
}

.ld-pg-contents.question .que-choice-box .checking-form-list li .mk-fromput {
    font-size: 35px
}

.ld-pg-contents.question .que-choice-box .checking-form-list li .mk-fromput label {
    padding-left: 70px
}

.ld-pg-contents.question .que-choice-box .checking-form-list li .mk-fromput label:before {
    outline: 0
}

.ld-pg-contents.question .button-box .btn-area {
    padding: 0 44px
}

.ld-pg-contents.checkboxzone {
    background-color: #fff;
    padding: 56px;
    text-align: left
}

.ld-pg-contents.checkboxzone .invest-wr-box {
    margin-top: 55px
}

.ld-pg-contents.checkboxzone .invest-wr-box:first-child {
    margin-top: 0
}

.ld-pg-contents.checkboxzone .invest-wr-box .tt {
    display: block;
    margin-bottom: 35px;
    font-size: 39px;
    font-weight: 600;
    color: #090909;
    line-height: 1.2;
    letter-spacing: -1px
}

.ld-pg-contents.checkboxzone .invest-wr-box .checking-form-list li {
    margin-bottom: 20px
}

.ld-pg-contents.checkboxzone .invest-wr-box .checking-form-list li:last-child {
    margin-bottom: 0
}

.ld-pg-contents.checkboxzone .invest-wr-box .checking-form-list li .mk-fromput label {
    font-size: 28px;
    color: #090909
}

.ld-pg-contents.checkboxzone .invest-wr-box .age-wr span {
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    color: #090909
}

.ld-pg-contents.checkboxzone .invest-wr-box .age-wr input {
    margin: 0 10px;
    display: inline-block;
    width: 182px;
    height: 55px;
    border: 1px solid #cfcfcf;
    background-color: #f3f3f3
}

.ld-pg-contents.checkboxzone .invest-wr-box .age-wr input:focus {
    background-color: #fff
}

.ld-pg-contents.checkboxzone .button-box {
    margin-top: 56px
}

.ld-pg-contents.myinfor {
    background-color: #fff;
    padding: 56px;
    text-align: left
}

.ld-pg-contents.myinfor .indivi-infor ul li {
    margin-bottom: 22px
}

.ld-pg-contents.myinfor .indivi-infor ul li:last-child {
    margin-bottom: 0
}

.ld-pg-contents.myinfor .indivi-infor ul li .put-tt {
    line-height: 1;
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: #090909;
    margin-bottom: 14px
}

.ld-pg-contents.myinfor .indivi-infor .mk-select .select {
    border: 0
}

.ld-pg-contents.myinfor .indivi-infor .mk-select label {
    padding: 0 10px 0 24px;
    line-height: 60px
}

.ld-pg-contents.myinfor .indivi-infor .mk-select label:before {
    position: absolute;
    top: 50%;
    margin-top: -5.5px;
    right: 20px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 12px 11px;
    border-top-color: #d2d2d2
}

.ld-pg-contents.myinfor .indivi-infor .mk-select label:after {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 20px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;
    border-width: 12px 11px;
    border-top-color: #fff;
    background-color: transparent
}

.ld-pg-contents.myinfor .check-listbox {
    margin-top: 20px
}

.ld-pg-contents.myinfor .check-listbox .all-check-zone {
    margin-bottom: 30px;
    text-align: right
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li {
    margin-bottom: 19px
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li:last-child {
    margin-bottom: 0
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li .tt {
    font-size: 19px;
    font-weight: 500;
    color: #757575
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li .con-scr {
    background-color: #b8b8b8;
    height: 28px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 15px;
    color: #fff;
    padding: 7px;
    box-sizing: border-box;
    line-height: 1.4;
    margin: 5px 0
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li .mk-fromput {
    margin-left: 0
}

.ld-pg-contents.myinfor .check-listbox .check-num-list li .mk-fromput label {
    line-height: 1;
    display: block;
    font-size: 19px;
    font-weight: 500;
    color: #757575
}

.ld-pg-contents.myinfor .button-box {
    margin-top: 40px
}

.ld-pg-contents.assessment {
    background-color: #fff;
    text-align: left
}

.ld-pg-contents.assessment .tt-txt {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    background-color: #f02020;
    padding: 120px 65px 65px;
    line-height: 1.3
}

.ld-pg-contents.assessment .tt-txt strong {
    font-size: 113px;
    font-weight: 600
}

.ld-pg-contents.assessment .ass-con-box {
    padding: 70px 65px
}

.ld-pg-contents.assessment .ass-con-txt p {
    font-size: 30px;
    font-weight: 500;
    color: #090909;
    line-height: 1.2;
    letter-spacing: -1px
}

.ld-pg-contents.assessment .button-box {
    margin-top: 90px
}

/* customizing */
.hide {display:none !important;}
